# Project Details

### For this project, we are using the TMDb (The Movie Database) API.
TMDb API enables you to find out the latest information about TV Shows, Movies and the biggest names in entertainment sector for a marvelous and fun TV/Movie watching experience.

### Our Motivation for using TMDb API
By collecting the data using TMDb API one can recommend TV Shows, Movies and all sorts of entertainment on the basis of userâ€™s affinity to specific genres, actors, likes and dislikes.
We can find details about upcoming TV Shows and Movies.
We can find what is the most popular and/ or exclusive/new content at a given time.

In [2]:
import requests
import json

## TMDb 1.1
Find the 'id' of the movie "Andhadhun" using TMDb API.

In [3]:
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c', 'query' : 'Andhadhun'}
r = requests.get('https://api.themoviedb.org/3/search/movie', params = p)
r = r.json()

print(r['results'][0]['id'])

534780

## TMDb 1.2
Fetch the company id company 'Marvel Studios' using TMDb. Print the id.

In [4]:
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c', 'query' : 'Marvel Studios'}
r = requests.get('https://api.themoviedb.org/3/search/company', params = p)
r = r.json()
print(r['results'][0]['id'])

420

## TMDb 1.3
Find the vote count and vote average of the movie "3 Idiots" using the TMDb API

In [5]:
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c', 'query' : '3 Idiots'}
r = requests.get('https://api.themoviedb.org/3/search/movie', params = p)
r = r.json()

print('Vote Count :', r['results'][0]['vote_count'], ', Vote Average :', r['results'][0]['vote_average'])

Vote Count : 1948 , Vote Average : 8

## TMDb 1.4
Fetch the names of top 5 similar movies to 'Inception' from the TMDb API.

In [6]:
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c', 'query' : 'Inception'}
r = requests.get('https://api.themoviedb.org/3/search/movie', params = p)
r = r.json()

p1 = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c'}
res = requests.get('https://api.themoviedb.org/3/movie/846190/similar',params=p1) 
data = res.json()

for i in data['results'][:5]:
    print(i['title'])

Inception
The Inugamis
Chronicle
Inferno of Torture
Detachment

## TMDb 1.5
Fetch the top rated english movies in the US region using the TMDb API. From the result, print the first 10 movies which have original language as english. Also print their genres.

In [7]:
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c'}
r = requests.get('https://api.themoviedb.org/3/genre/movie/list', params = p)
r = r.json()

genre = {}
for i in r['genres']:
    genre[i['id']] = i['name']
    
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c', 'region' : 'US'}
r = requests.get('https://api.themoviedb.org/3/movie/top_rated', params = p)
r = r.json()

result = 0
for i in r['results']:
    if result == 10:
        break
    if i['original_language'] != 'en':
        continue
    print(i['title'], ' - ', end='')
    for j in i['genre_ids']:
        print(genre[j], end=', ')
    print()
    result += 1

The Godfather  - Drama, Crime,
The Shawshank Redemption  - Drama, Crime,
The Godfather Part II  - Drama, Crime,
Schindler's List  - Drama, History, War,
12 Angry Men  - Drama,
The Green Mile  - Fantasy, Drama, Crime,
The Dark Knight  - Drama, Action, Crime, Thriller,
Gabriel's Inferno: Part II  - Romance,
Gabriel's Inferno  - Romance,
Pulp Fiction  - Thriller, Crime,

## TMDb 2.1
Find the name and birthplace of the present most popular person according to TMDb API.

In [8]:
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c'}
r = requests.get('https://api.themoviedb.org/3/person/popular', params = p)
r = r.json()
print(r['results'][0]['id'])

974169

In [9]:
r = requests.get('https://api.themoviedb.org/3/person/3194176', params = p)
r = r.json()
print(r['id'])
print(r['name'],' - ' ,r['place_of_birth'])

3194176
Angeli Khang  -  Mandaluyong City, Philippines

## TMDb 2.2
Fetch the Instagram and Twitter handle of Indian Actress "Alia Bhatt" from the TMDb API.

In [10]:
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c', 'query' : 'Alia Bhatt'}
r = requests.get('https://api.themoviedb.org/3/search/person', params = p)
r = r.json()
id = r['results'][0]['id']
id

1108120

In [11]:
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c'}
r = requests.get('https://api.themoviedb.org/3/person/1108120/external_ids', params = p)
r = r.json()
print(r['instagram_id'], r['twitter_id'])

aliaabhatt Aliaa08

## TMDb 2.3
Fetch the names of the character played by Tom Cruise in the movies:
"Top Gun", 
"Mission: Impossible - Fallout", 
"Minority Report", 
"Edge of Tomorrow"

In [12]:
movies = ['Top Gun', 'Mission: Impossible - Fallout', 'Minority Report', 'Edge of Tomorrow']
ids = []
for i in range(len(movies)):
    p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c', 'query' : movies[i]}
    r = requests.get('https://api.themoviedb.org/3/search/movie', params = p)
    r = r.json()
    for j in r['results']:
        if j['title'] == movies[i]:
            ids.append(str(j['id']))
            break

for i in range(len(ids)):
    p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c'}
    r = requests.get('https://api.themoviedb.org/3/movie/'+ids[i]+'/credits', params = p)
    r = r.json()
    print(r['cast'][0]['character'])

Lt. Pete 'Maverick' Mitchell
Ethan Hunt
Chief John Anderton
Maj. William 'Bill' Cage

# TMDb 2.4
Did James McAvoy play a role in the movie Deadpool 2. Print Yes or No.

In [13]:
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c', 'query' : 'Deadpool 2'}
r = requests.get('https://api.themoviedb.org/3/search/movie', params = p)
r = r.json()
for i in r['results']:
    if i['title'] == 'Deadpool 2':
        id = str(i['id'])
        break
        
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c'}
r = requests.get('https://api.themoviedb.org/3/movie/'+id+'/credits', params = p)
r = r.json()

for i in r['cast']:
    if i['name'] == 'James McAvoy':
        print('Yes')
        break
else:
    print('No')

Yes

# TMDb 2.5
Using the result obtained in previous question, find out if James McAvoy was credited for his role in movie Deadpool 2. Print Yes or No.

In [14]:
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c', 'query' : 'Deadpool 2'}
r = requests.get('https://api.themoviedb.org/3/search/movie', params = p)
r = r.json()
for i in r['results']:
    if i['title'] == 'Deadpool 2':
        id = str(i['id'])
        break
        
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c'}
r = requests.get('https://api.themoviedb.org/3/movie/'+id+'/credits', params = p)
r = r.json()

chara = ''
for i in r['cast']:
    if i['name'] == 'James McAvoy':
        chara = i['character']
        break
        
b = chara.find('(')
if b != -1:
    print('No')
else:
    print('Yes')

No

# TMDb 3.1
Fetch the overview of the TV Show "FRIENDS" using TMDb API.

In [15]:
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c', 'query' : 'FRIENDS'}
r = requests.get('https://api.themoviedb.org/3/search/tv', params = p)
r = r.json()
print(r['results'][0]['overview'])

Six young people from New York City, on their own and struggling to survive in the real world, find the companionship, comfort and support they get from each other to be the perfect antidote to the pressures of life.

# TMDb 3.2
Fetch the name and air date of S06E05 of the TV Show 'The Big Bang Theory' from TMDb API.

In [16]:
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c', 'query' : 'The Big Bang Theory'}
r = requests.get('https://api.themoviedb.org/3/search/tv', params = p)
r = r.json()
id = r['results'][0]['id']

p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c'}
r = requests.get('https://api.themoviedb.org/3/tv/'+str(id)+'/season/06/episode/05', params = p)
r = r.json()
print(r['name'], ' - ', r['air_date'])

The Holographic Excitation  -  2012-10-25

# TMDb 3.3
Fetch the trending TV Shows for the week from the TMDb API and print the taglines of the top 5 shows. If there is no tagline, print 'Empty' instead

In [17]:
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c'}
r = requests.get('https://api.themoviedb.org/3/trending/tv/week', params = p)
r = r.json()
id = []

count = 0
for i in r['results']:
    if count == 5:
        break
    res = requests.get('https://api.themoviedb.org/3/tv/'+str(i['id']), params = p) 
    data = res.json()
    count+=1
    if data['tagline'] != '':
        print(data['tagline'])
    else:
        print('Empty')

Empty
What is lost will be found.
The next great adventure begins.
The Rebellion begins.
Empty

# TMDb 3.4
Print the names of all the TV shows to be aired today whose original language is english.

In [18]:
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c'}
r = requests.get('https://api.themoviedb.org/3/tv/on_the_air', params = p)
r = r.json()
total_pages = r['total_pages']

for j in range(1, total_pages+1):
    p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c', 'page' : j}
    r = requests.get('https://api.themoviedb.org/3/tv/airing_today', params = p)
    r = r.json()

    for i in r['results']:
        if i['original_language'] == 'en':
            print(i['name'])

Strictly Come Dancing: It Takes Two
Â¿CÃ³mo se llama esta relaciÃ³n?
Faltu
Bhagya Lakshmi
Saturday Night Live
Reef School
Whose Line Is It Anyway?
PBS News Weekend
The Gadget Show
Strictly Come Dancing
The Kitchen
Cook's Country
On Patrol: Live
On Patrol: First Shift
Woodsmith Shop
I Can See Your Voice
Haunted Hospitals
Hidden London Hangouts
Makeover by Monday
WWE The SmackDown LowDown
Uptown Otters
Floga kai Anemos
Castle Howard: Through the Seasons
Oh My Korona
Drunken Truth With Jin
NWA USA
Zombie House Flipping
Naked News
Rabb Se Hai Dua
Louisiana Law

# TMDb 3.5
Count the number of males and females in the cast of "Money Heist" using the TMDb API.

In [19]:
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c', 'query' : 'Money Heist'}
r = requests.get('https://api.themoviedb.org/3/search/tv', params = p)
r = r.json()

id = 0
for i in r['results']:
    if i['name'] == 'Money Heist':
        id = i['id']
        break
        
p = {'api_key' : '5df26b6c1a53c3e5f9537434fb9e0b8c'}
r = requests.get('https://api.themoviedb.org/3//tv/'+str(id)+'/credits', params = p)
r = r.json()
female = 0
male = 0

for i in r['cast']:
    if i['gender'] == 1:
        female+=1
    else:
        male+=1
        
print(male, female)

10 5